# requirements_app.txt  (или requirements.txt, если указали его)
streamlit>=1.34,<2
pandas
scikit-learn
lightgbm
Pillow

# совместимые Grad-CAM библиотеки
torch==1.13.1+cpu        # ← суффикс +cpu обязателен
torchvision==0.14.1+cpu  #   и точно та же ветка 1.13 / 0.14
torchcam==0.3.2
